In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [46]:
data=pd.read_csv(r'./cleaned_datast.csv')
data.head(1)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Gender_0.0,Gender_1.0,Married_0.0,Married_1.0,Dependents_0.0,Dependents_1.0,...,Education_0,Education_1,Self_Employed_0.0,Self_Employed_1.0,Credit_History_0.0,Credit_History_1.0,Property_Area_0,Property_Area_1,Property_Area_2,Loan_Status
0,5849,0.0,126,360.0,0,1,1,0,1,0,...,0,1,1,0,0,1,0,0,1,1

In [47]:
from sklearn.model_selection import train_test_split
import sklearn
from sklearn import pipeline,ensemble,tree,feature_selection
from sklearn.linear_model import LogisticRegression#Logistic Regression
from sklearn.metrics import f1_score

In [48]:
x=['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Gender_0.0', 'Gender_1.0', 'Married_0.0',
       'Married_1.0', 'Dependents_0.0', 'Dependents_1.0', 'Dependents_2.0',
       'Dependents_3.0', 'Education_0', 'Education_1', 'Self_Employed_0.0',
       'Self_Employed_1.0', 'Credit_History_0.0', 'Credit_History_1.0',
       'Property_Area_0', 'Property_Area_1', 'Property_Area_2']
y=['Loan_Status']
seed=7

In [49]:
train_x,test_x,train_y,test_y=train_test_split(data[x],data[y],test_size = 0.3, random_state=7)

train_x.shape,test_x.shape,train_y.shape,test_y.shape

((686, 21), (295, 21), (686, 1), (295, 1))

In [50]:
pipe_obj=pipeline.Pipeline([('model', LogisticRegression(random_state=7))])

In [51]:
pipe_obj.fit(train_x,train_y)

c:\users\dell\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Pipeline(steps=[('model', LogisticRegression(random_state=7))])

In [52]:
pred_train = pipe_obj.predict(train_x)
train_score = f1_score(train_y,pred_train)

In [53]:
pred_test = pipe_obj.predict(test_x)
valid_score=f1_score(test_y,pred_test)
#l={'train_y':train_y.transpose(),'pred_train':pred_train.transpose()}
#m={'valid_y':valid_y,'pred_test':pred_test}
l=[train_y,pred_train,test_y,pred_test]

new=pd.DataFrame([np.array(train_y)[0],np.array(pred_train),np.array(test_y)[0],np.array(pred_test)],['train_y','pred_train','test_y','pred_test']).transpose()

In [54]:
new.head(25)

    train_y  pred_train  test_y  pred_test
0       1.0         1.0     1.0        1.0
1       NaN         0.0     NaN        0.0
2       NaN         1.0     NaN        0.0
3       NaN         1.0     NaN        1.0
4       NaN         1.0     NaN        0.0
5       NaN         1.0     NaN        1.0
6       NaN         1.0     NaN        1.0
7       NaN         1.0     NaN        1.0
8       NaN         1.0     NaN        1.0
9       NaN         1.0     NaN        0.0
10      NaN         1.0     NaN        1.0
11      NaN         1.0     NaN        1.0
12      NaN         1.0     NaN        1.0
13      NaN         1.0     NaN        1.0
14      NaN         1.0     NaN        0.0
15      NaN         1.0     NaN        1.0
16      NaN         1.0     NaN        1.0
17      NaN         1.0     NaN        1.0
18      NaN         1.0     NaN        1.0
19      NaN         0.0     NaN        1.0
20      NaN         1.0     NaN        1.0
21      NaN         1.0     NaN        0.0
22      NaN         1.0     NaN        1.0
23      NaN         1.0     NaN        1.0
24      NaN         1.0     NaN        1.0

In [55]:
print('Training score:', train_score)
print('Validation score:', valid_score)

Training score: 0.8176583493282149
Validation score: 0.8139534883720931

In [56]:
import joblib

In [57]:
joblib.dump(pipe_obj,"trained_model.pkl")

['trained_model.pkl']

In [58]:
modelreload=joblib.load('trained_model.pkl')

In [59]:
modelreload.predict(test_x)

array([1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1], dtype=int64)

In [60]:
tem={'ApplicantIncome': '5849', 'CoapplicantIncome': '0.0', 'LoanAmount': '126', 'Loan_Amount_Term': '360', 'Gender': 'Gender_1.0', 'Married': 'Married_0.0', 'Dependents': 'Dependents_0.0', 'Education': 'Education_1.0', 'Self_Employed': 'Self_Employed_0.0', 'Credit_History': 'Credit_History_1.0', 'Property_Area': 'Property_Area_2'}

In [61]:
obj_val=[tem['Gender'],tem['Married'],tem['Dependents'],tem['Education'],tem['Self_Employed'],tem['Property_Area'],tem['Credit_History']]

In [62]:
list1=['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term']
list2=['Gender_0.0','Gender_1.0','Married_0.0','Married_1.0','Dependents_0.0','Dependents_1.0',
       'Dependents_2.0','Dependents_3.0','Education_0.0','Education_1.0','Self_Employed_0.0','Self_Employed_1.0',
       'Credit_History_0.0','Credit_History_1.0','Property_Area_0','Property_Area_1','Property_Area_2']

In [63]:
tem_new={}
for i in list1:
    tem_new[i]=tem[i]
for i in list2:
    if(i in obj_val):
        tem_new[i]=1
    else:
        tem_new[i]=0

In [64]:
print(tem_new)

{'ApplicantIncome': '5849', 'CoapplicantIncome': '0.0', 'LoanAmount': '126', 'Loan_Amount_Term': '360', 'Gender_0.0': 0, 'Gender_1.0': 1, 'Married_0.0': 1, 'Married_1.0': 0, 'Dependents_0.0': 1, 'Dependents_1.0': 0, 'Dependents_2.0': 0, 'Dependents_3.0': 0, 'Education_0.0': 0, 'Education_1.0': 1, 'Self_Employed_0.0': 1, 'Self_Employed_1.0': 0, 'Credit_History_0.0': 0, 'Credit_History_1.0': 1, 'Property_Area_0': 0, 'Property_Area_1': 0, 'Property_Area_2': 1}

In [65]:
x1=pd.DataFrame({'a':tem_new}).transpose()
x1

,ApplicantIncome,CoapplicantIncome,Credit_History_0.0,Credit_History_1.0,Dependents_0.0,Dependents_1.0,Dependents_2.0,Dependents_3.0,Education_0.0,Education_1.0,...,Gender_1.0,LoanAmount,Loan_Amount_Term,Married_0.0,Married_1.0,Property_Area_0,Property_Area_1,Property_Area_2,Self_Employed_0.0,Self_Employed_1.0
a,5849,0.0,0,1,1,0,0,0,0,1,...,1,126,360,1,0,0,0,1,1,0

In [66]:
aproval=modelreload.predict(x1)[0]
aproval

1